<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Login</title>
    <link href="~/Content/MainSite.css" rel="stylesheet" />

</head>
<body>
    <div>
        <div class="title"><p>Reset your password</p></div>
        <div class="register">
            <div class="login-form">
                <div>
                    <p>We will send you an email to reset your password</p>
                    <div>
                        <input type="email" name="email" placeholder="Email">

                    </div>

                    <div>
                        <button id="common-button">Submit</button>
                    </div>

                    <div class="sub-title">
                        @Html.ActionLink("Cancel", "Index", "Login")
                    </div>
                </div>
            </div>

        </div>

</body>
</html>
